.product__item {
  text-align: left;
  cursor: pointer;
  height: 100%;

  &:hover {
    .product__item--name {
      color: #3f89eb;
    }
  }

  &--img {
    max-width: 200px;
    max-height: 200px;
    & > img {
      width: 100%;
      height: 100%;
      position: relative;
      right: 0;
      transition: right linear 0.1s;

      &:hover {
        right: -4px;
      }
    }
  }

  &--name {
    margin: 8px 0;
    font-size: 0.9rem;
    font-weight: 500;
    color: #333;
  }

  &--price {
    margin: 8px 0;
    color: #333;
  }

  &--star {
    color: #fb6e2e;

    &-empty {
      color: #bdbdbd;
    }
  }
}
