.admin {
  &__description {
    max-width: 300px;
    height: 48px;
    font-style: 16px;
    line-height: 16px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;

    // white-space: nowrap;
  }

  &__icon {
    display: flex;
  }
}
